.followit--follow-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 1500px;
  width: 100%;
}

.form-preview {
  display: flex !important;
  flex-direction: column !important;
  background-color: #e0e0e0 !important;
  padding: 30px !important;
  border-radius: 16px !important;
  border: 1.5px solid #8a8a8a !important;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2) !important;
  width: 100% !important;
}

// IZENBURUA:
h5.harpidetza {
  font-family: 'Montserrat', 'Segoe UI', Roboto, Inter, Arial, sans-serif;
  color: #8b0000;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

// EMAILA SARTZEKO INPUTa
input.harpidetza {
  width: 100% !important;
  height: 45px !important;
  border-radius: 10px !important;
  border: 1px solid #8a8a8a !important;
  background-color: #fff !important;
  padding: 0 15px !important;
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  color: #1a1a1a !important;
  margin-bottom: 15px !important;
  box-sizing: border-box !important;
}

// INPUTa HAUTATZEN DENEAN
input.harpidetza:focus {
  border-color: #e60012 !important;
  outline: none;
  box-shadow: 0 0 5px rgba(230, 0, 18, 0.3);
}

// BOTOIA
.preview-submit-button button {
  width: 100% !important;
  height: 45px !important;
  background: linear-gradient(145deg, #d04b4b, #c73737) !important;
  color: #ffffff !important;
  border-radius: 12px !important;
  border: 1.5px solid #a32b2b !important;
  font-weight: 600;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.preview-submit-button button:hover {
  background: linear-gradient(145deg, #8b0000, #a00000) !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

// BEHEKO ARGAZKIA (RSS)
.rss-img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
